.wrapperToday {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../../assets/img/bg-todayWeather.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.boxDescrWeatherToday {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: #333136;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 500px;
}

.boxDescrWeatherToday p,
h4 {
  margin-bottom: 10px;
  color: #fff;
}

.wrapperTemp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.temp {
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
  white-space: nowrap;
}

.tempSup {
  font-weight: 200;
  font-size: 20px;
}

.city {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

.iconWeather {
  width: 60%;
}
